/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-feb-2015, 13:57:39
    Author     : Dion Thiers
*/

body {
    margin: 0;
    padding: 0;
}

.content {
    width: 700px;
    margin: 0 auto;
}

header{
    margin: 0;
    height: 100px;
    background: azure;
}

.input {
    margin: 0 auto;
    width: 90%;
    height: 100px;
    
}

.input input {
    padding: 10px;
    border-radius: 5px;
    border: 0.1em solid grey;
}

.calendar td {
    height: 100px;
    width: 100px;
    border: 1px solid lightgray;
    text-align: center;
    border-radius: 5px;
    
    
}
#header td {
    height: 20px;
    border: none;
    width: inherit;
    
}